<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chr.admin.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.chr.admin.pojo.User">
            <id property="id" column="id" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="isDeleted" column="is_deleted" />
            <result property="version" column="version" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,username,password,is_deleted,version,create_time,
        update_time
    </sql>
</mapper>
