<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.chr.admin.mapper.UserMapper">

    <resultMap id="BaseResultMap" type="com.chr.admin.pojo.User">
            <id property="id" column="id" />
            <result property="nickname" column="nickname" />
            <result property="username" column="username" />
            <result property="password" column="password" />
            <result property="status" column="status" />
            <result property="isDeleted" column="is_deleted" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
            <result property="createUser" column="create_user" />
            <result property="updateUser" column="update_user" />
    </resultMap>

    <sql id="Base_Column_List">
        id,nickname,username,password,status,is_deleted,
        create_time,update_time,create_user,update_user
    </sql>
</mapper>
