# 连接池配置
spring:
  profiles:
    active: basic,dev
  application:
    name:
      chrboot
  datasource:
    type: com.alibaba.druid.pool.DruidDataSource
    druid:
      driver-class-name: com.mysql.cj.jdbc.Driver

  banner:
    location: classpath:banner.txt
  servlet:
    multipart:
      #  最大文件大小，默认为10M
      max-file-size: 10MB
      # 最大请求大小，默认为10M
      max-request-size: 10MB

# server配置
server:
  # 服务器的HTTP端口，默认为8080
  port: 8088
  servlet:
    # 应用的访问路径
    context-path: /
  tomcat:
    # tomcat的URI编码
    uri-encoding: UTF-8
    # 连接数满后的排队数，默认为100
    accept-count: 1000
    threads:
      # tomcat最大线程数，默认为200
      max: 800
      # Tomcat启动初始化的线程数，默认值10
      min-spare: 100


# mybatis-plus的配置
mybatis-plus:
  type-aliases-package: com.chr.pojo
  global-config:
    db-config:
      logic-delete-field: isDeleted  #全局逻辑删除
      id-type: auto #设置主键策略为自增长
      table-prefix: chr_ # 设置表的前缀
  configuration:
    auto-mapping-behavior: full #开启自动映射

# 日志配置
logging:
  level:
    root: info
    biz: info
    mapper: debug
  group:
    biz:
      com.chr.admin.advice
    mapper:
      com.chr.admin.mapper
  file:
    # 生成到系统盘
    path: D:\chr\ChrBootLog
    # 生成到项目的根目录
    #name: chrboot.log
  logback:
    rollingpolicy:
      # 应用启动时清除之前的文档默认false
      clean-history-on-start: false
      # 每个日志文件最大大小默认10mb
      max-file-size: 10MB
      # 文件保存的最大天数
      max-history: 7
      # 日志存档的文件格式名
      file-name-pattern: ${LOG_FILE}.%d{yyyy-MM-dd}.%i.gz
      # 可存储日志的总大小 超过删除旧的日志
      total-size-cap: 10GB

# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    tags-sorter: alpha
    operations-sorter: alpha
  group-configs:
    - group: 'default'
      packages-to-scan: com.chr.admin.controller
      paths-to-match: /**
# knife4j的增强配置，不需要增强可以不配
knife4j:
  enable: true
  setting:
    language: zh_cn
