# 连接池配置
spring:
  datasource:
    druid:
      url: jdbc:mysql:///chrbootdatabase
      username: root
      password: root123
  # redis配置
  data:
    redis:
      # 地址
      host: localhost
      # 端口，默认为6379
      port: 6379
      # 数据库索引
      database: 0
      # 密码
      password: 123456
      # 连接超时时间
      timeout: 10s
      lettuce:
        pool:
          # 连接池中的最小空闲连接
          min-idle: 0
          # 连接池中的最大空闲连接
          max-idle: 8
          # 连接池的最大数据库连接数
          max-active: 8
          # #连接池最大阻塞等待时间（使用负值表示没有限制）
          max-wait: -1ms


# springdoc-openapi项目配置
springdoc:
  swagger-ui:
    enable: true
    path: ${chrboot.api-prefix}/swagger-ui.html
  api-docs:
    enabled: true
    path: ${chrboot.api-prefix}/v3/api-docs

chrboot:
  # 前端url转发前缀
  api-prefix: /dev-api
  # jwt配置
  jwt:
    token:
      tokenExpiration: 120 #有效时间,单位分钟
      tokenSignKey: chrboot123456  #当前程序签名秘钥 自定义
  # alioss配置
  alioss:
    access-key-id:
    access-key-secret:
    bucket-name:
    endpoint:


